@charset "UTF-8";

:root {
	/* color */
	--custom-main-color: #e75e8d;
	--custom-font-color: #666;
	--custom-white-color: #fff;
	--custom-border-color: #d7d5d5;
	
	/* size */
	--custom-border-radius: 10px;
	--custom-padding: 20px;
}

/* 
---------------------------------------------
Common Style
--------------------------------------------- 
*/

.border-top-radius {
	border-top-left-radius: var(--custom-border-radius);
	border-top-right-radius: var(--custom-border-radius);
}

.border-bottom-radius {
	border-bottom-left-radius: var(--custom-border-radius);
	border-bottom-right-radius: var(--custom-border-radius);
}

.border-radius-white {
    border-radius: var(--custom-border-radius);
    border: 1px solid var(--custom-border-color);
    background-color: var(--custom-white-color);
    padding: var(--custom-padding);
    color: var(--custom-font-color);
}

.font-color {
	color: var(--custom-font-color);
}

.main-color {
	color: var(--custom-main-color);
}

.main-bg-color {
	background-color: var(--custom-main-color);
}

.main-btn {
	font-weight: 900;
	border: none;
}

.main-btn:hover {
	background-color: #444 !important;
}

.min-h-100 {
	min-height: 100%;
}

.p-20 {
	padding: var(--custom-padding);
}

.white-color {
	color: var(--custom-white-color);
}

/* 
---------------------------------------------
Main Style
--------------------------------------------- 
*/

.main-container {
	padding-bottom: 120px;
}

.main-menu-bg {
	background-color: var(--custom-white-color);
	right: 0;
	z-index: 0;
}

.inner-menu {
	z-index: 1;
	margin: 10px 0;
	border-left: 1px solid rgba(102,102,102,0.3);
}

.inner-menu, .main-menu-bg {
/* 	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s; */
	overflow: hidden;
	height: 0;
	top: 80px;
	left: 0;
}

.inner-menu li {
	display: block !important;
	padding: 8px 0 !important;
	font-size: 14px;
}

.inner-menu li a {
	color: var(--custom-font-color);
}

.inner-menu li a:hover {
	color: #e75e8d;
}

.main-menu:hover .inner-menu {
	overflow: visible;
	height: auto;
}

.main-menu:hover .main-menu-bg {
	opacity: 1;
	border-top: 1px solid rgba(102,102,102,0.1);
	box-shadow: 0px 5px 10px rgba(150,150,150,0.2)!important;
	overflow: visible;
	height: 180px;
}

/* 
---------------------------------------------
Login Style
--------------------------------------------- 
*/

.login li a {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.login li:last-child a {
	padding-right: 0 !important;
}

.login a {
	font-size: 14px !important;
	font-weight: normal !important;
}

/* 
---------------------------------------------
Community Style
--------------------------------------------- 
*/

.community-board-container {
	background-color: #f7f7f7;
	padding-bottom: 120px;
}

.community-board .cb-aside {
	border-radius: 10px;
	border: 1px solid var(--custom-border-color);
	background-color: var(--custom-white-color);
	padding: 20px;
	color: var(--custom-font-color);
}

.community-board .cb-aside-header {
	font-size: 18px;
    border-bottom: 1px solid var(--custom-border-color);
    padding: 5px 0;
    margin-bottom: 10px;
}

.community-board .cb-board {
	border-radius: 10px;
	border: 1px solid var(--custom-border-color);
	background-color: var(--custom-white-color);
	padding: 20px;
	color: var(--custom-font-color);
	margin-bottom: 20px;
}

.community-board .cb-board table {
	text-align: center;
}

.community-board .cb-board table tr {
	border-bottom: 1px solid rgba(215,213,213,0.5);
	font-weight: 300;
}

.community-board .cb-board table thead tr {
	border-bottom: 1px solid #e75e8d;
    border-top: 2px solid #e75e8d;
}

.community-board .cb-board table th, td {
	font-size: 14px;
	padding: 5px 0;
}

.community-board .cb-board table th {
	padding: 10px 0;
}

.community-board .cb-board table tbody tr td:nth-child(2) span {
	padding-right: 5px;
}

.community-board .cb-board table tbody tr td:nth-child(2) a {
	color: var(--custom-font-color);
}

.community-board .cb-board table tbody tr td:nth-child(2) a:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

.community-board .cb-aside-list li a {
    display: block;
	width: 100%;
    padding: 5px 0;
    color: var(--custom-font-color);
}

.community-board .cb-aside-list li a:hover {
	font-weight: bold;
	color: #e75e8d;
}

.community-board .search-container {
	background-color: var(--custom-white-color);
    padding: 20px;
    border: 1px solid var(--custom-border-color);
    border-radius: 10px;
    margin-bottom: 12px;
}

.community-board .search-container input[type="text"] {
    outline: none;
    border: 2px solid #e75e8d;
    padding-left: 10px;
    font-size: 14px;
}

.community-board .search-wrap {
	height: 35px;
}

.community-board .select-box {
	position: relative;
    width: 130px;
}

.community-board .select-box select {
	background: transparent;
    position: relative;
    z-index: 1;
    width: inherit;
    height: inherit;
    padding-left: 5px;
    border: 2px solid #e75e8d;
    outline: none;
    cursor: pointer;
    font-size: 14px;
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* IE */
.community-board .select-box select::-ms-expand { 
	display: none;
}

.community-board .select-box .select-arrow {
	position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: #e75e8d;
    color: var(--custom-white-color);
    padding: 2px 10px;
    height: inherit;
}

.community-board .search-btn {
    padding: 0 15px;
    color: var(--custom-white-color);
}

.community-board .board-title span:first-child {
	font-size: 20px;
    font-weight: 900;
}

.community-board .board-title span:last-child {
	font-size: 13px;
    padding-left: 5px;
}

.community-board .board-write-btn {
	padding: 5px 10px;
    background-color: #e75e8d;
    color: var(--custom-white-color);
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.community-board .cb-board .pagination {
	bottom: 20px;
    left: 0;
    width: 100%;
    margin: auto;
}

.community-board .pagination li a {
	color: var(--custom-font-color);
	padding: 0 5px;
}

.community-board .pagination li a:hover {
	color: #e75e8d;
}


/* 
---------------------------------------------
MyPage Style
--------------------------------------------- 
*/

.my-aside ul li a:hover {
	background-color: #e75e8d;
}