<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.academy.mapper.AdminMapper">
  
<select id="getPopup" resultType="com.academy.vo.PopupVO">
	<![CDATA[
		SELECT * FROM POP_UP
	]]>
	
</select>
  </mapper>